/*.row {
    margin-left: 0px;
    margin-right: 0px;
}*/

body{
    font-family: Verdana;
}

/*@media only screen and (max-width: 1000px){
    body{
        background-color: #F395F5;
    }
}*/

#capa{
    background-image: linear-gradient(#E65573, #7968D0, black);
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

#titulo{
    color: black;
}

#cabecera{
    float: left;
}

header {
    height: 30%;
    width: 100%;
    color: white;
}

#desplegable{
    float: right;
    margin-right: 14px;
}

#contenedorimagiz{
    border-top-left-radius: 10px;
    border-top-right-radius: 2px;
}

#contenedorimagde{
    border-top-right-radius: 10px;
    border-top-left-radius: 2px;
}

.text-block{
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-align: right;
}

/* Boton con flecha*/
.btnNew{
    font-size: 1.4rem;
    user-select: none;
    color: white;

    display: flex;
    align-items: center;
}

.btnNew .arrowNew{
    margin-right: 1rem;
    height: .1rem;
    width: 2.5rem;
    position: relative;
    background: white;
    transition: width .2s ease;
}

.btnNew:hover .arrowNew{
    width: 4rem;
}

.btnNew .arrowNew::before, .btnNew .arrowNew::after{
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    
    background: white;

    height: .1rem;
    width: .6rem;
    
}

.btnNew .arrowNew::before{
    transform: rotate(45deg);
    transform-origin: right bottom;
}

.btnNew .arrowNew::after{
    transform:  rotate(-45deg);
    transform-origin: right top;
}

footer #arriba{
    background:  #E65573;
    padding-top: 15px;
    padding-bottom: 25px; 
    padding-left: 30px;
    color: black;
}

#metodosP li{
    list-style-type: none;
    padding-top: 25px;
    width: 95px;
    display: inline-block;
}

footer #medio{
    background: #8B65C1;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 30px;
    color: black;
}

footer h5{
    border-left-style: solid;
    border-color: black;
    padding-left: 5px;
}

#enumerables li{
    text-align: left;
    list-style-type: none;
    padding-top: 8px;
}

#enumerables a{
    text-decoration: none;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 400;
    color: rgb(31, 30, 30);
}

#enumerables a:hover{
    font-family: Verdana, Geneva, sans-serif;
    color: black;
}

#redes li{
    list-style-type: none;
    padding-top: 8px;
    float: left;
}

#redes a{
    width: 50px;
    display: inline-block;
}

footer #abajo{
    width: 100%;
    height: 80%;
	background-color: #7968D0;
    float: left;  
}

#derechos{
    text-align: left;
    font-family: 'Courier New', Courier;
    color: white;
    float: left;
    padding-top: 15px;
    padding-left: 30px;
}

#teryCon{
    text-align: right;
    font-family: 'Courier New', Courier;
    color: white;
    float: right;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-right: 30px;
}

#teryCon a{
    color: white;
}

#teryCon a:hover{
    color: rgb(233, 231, 231);
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

.btntop{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 100px;
    right: 25px;
    border-radius: 8px;

    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
}

