body{
    font-family: Verdana;
}

#capa{
    background-image: linear-gradient(#E65573, #7968D0, black);
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

#titulo{
    color: black;
}

#cabecera{
    float: left;
}

header {
    height: 30%;
    width: 100%;
    color: white;
}

#Terminos{
    padding-top: 5px;
    width: 70%;
    margin: 100px auto 0;
    clear: left;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;
}

#Terminos h1{
    float: left;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    bottom: -5px;
}

#Terminos h1::after{
    content: '';
    position: absolute;
    display: block;
    width: 350px;
    height: 4px;
    background: black;
    left: 50%;
    margin-top: 4px;
    margin-left: -175px;
}

#Terminos h3{
    float: left;
    width: 100%;
    margin: 10px;
    border-left: 2px solid black;
    padding-left: 10px;

}
p{
    font-family: Arial, Helvetica, sans-serif;
    text-justify: auto;
    padding: 9px;
}

footer #arriba{
    background: #E65573;
    padding-top: 15px;
    padding-bottom: 25px; 
    padding-left: 30px;
    color: black;
}

#metodosP li{
    list-style-type: none;
    padding-top: 25px;
    width: 95px;
    display: inline-block;
    float: none;
}

footer #medio{
    background: #8B65C1;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 30px;
    color: black;
}

footer h5{
    border-left-style: solid;
    border-color: black;
    padding-left: 5px;
}

#enumerables li{
    text-align: left;
    list-style-type: none;
    padding-top: 8px;
}

#enumerables a{
    text-decoration: none;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 400;
    color: rgb(31, 30, 30);
}

#enumerables a:hover{
    font-family: Verdana, Geneva, sans-serif;
    color: black;
}

#redes li{
    list-style-type: none;
    padding-top: 8px;
    float: left;
}

#redes a{
    width: 50px;
    display: inline-block;
}

footer #abajo{
    width: 100%;
    height: 80%;
	background-color: #676BE0;
    float: left;  
}

#derechos{
    text-align: left;
    font-family: 'Courier New', Courier;
    color: white;
    float: left;
    padding-top: 15px;
    padding-left: 30px;
}

#teryCon{
    text-align: right;
    font-family: 'Courier New', Courier;
    color: white;
    float: right;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-right: 30px;
}

#teryCon a{
    color: white;
}

#teryCon a:hover{
    color: rgb(233, 231, 231);
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

.btntop{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 100px;
    right: 25px;
    border-radius: 8px;

    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
}




